[Unit]
Description=Prometheus Slurm Exporter
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
WorkingDirectory={{ slurm_exporter_config_dir }}
ExecStart=/usr/bin/docker compose -f {{ slurm_exporter_config_dir }}/docker-compose.yml up --force-recreate
ExecStop=/usr/bin/docker compose -f {{ slurm_exporter_config_dir }}/docker-compose.yml down

[Install]
WantedBy=multi-user.target
